<!-- Listagem de tabs -->
<ion-tabs>
  <!-- Tab Home -->
  <ion-tab-bar
    slot="bottom">
    <ion-tab-button
      tab="home"
      href="/home">
      <ion-icon
        aria-hidden="true"
        name="home">
      </ion-icon>
      <ion-label>
        Inicio
      </ion-label>
    </ion-tab-button>
    <!-- Tab Favoritos-->
    <ion-tab-button
      tab="favorites"
      href="/favorites">
      <ion-icon
        aria-hidden="true"
        name="heart">
      </ion-icon>
      <ion-label>
        Favoritos
      </ion-label>
    </ion-tab-button>
    <!-- Tab Configurações -->
    <ion-tab-button
      tab="settings"
      href="/settings">
      <ion-icon
        aria-hidden="true"
        name="settings">
      </ion-icon>
      <ion-label>
        Configurações
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
